<footer class="footer">
    <section class="footer__sections">
        <section class="footer__sections--shop">
            <a target="__blank" class="title3" href="https://adalab.es/">Tienda</a>
            <ul class="footer__aboutus-li">
                <li><a target="__blank" href="https://adalab.es/">Productos</a></li>
                <li><a target="__blank" href="https://adalab.es/">Cajoneras</a></li>
                <li><a target="__blank" href="https://adalab.es/">Para toda la casa</a></li>
                <li><a target="__blank" href="https://adalab.es/">Habitaciones</a></li>
            </ul>
        </section>
        <section class="footer__sections--shop">
            <a target="__blank" class="title3" href="https://adalab.es/">Nosotros</a>
            <ul class="footer__aboutus-li">
                <li><a target="__blank" href="https://adalab.es/">Nuestra guía</a></li>
                <li><a target="__blank" href="https://adalab.es/">Nuestro diseño</a></li>
                <li><a target="__blank" href="https://adalab.es/">Ayuda</a></li>
            </ul>
        </section>
        <section class="footer__sections--shop">
            <a target="__blank" class="title3" href="https://adalab.es/">Contacto</a>
            <span class="footer__aboutus-li">

                <nav class="icons__social-icon">
                    <nav class="mail">
                        <a target="__blank" href="mailto:lorenaggs2812@gmail.com"><i
                            class="fa-solid fa-envelope"></i></a>
                    </nav>
                    <nav class="linkedin">
                        <a target="__blank" href="https://www.linkedin.com/in/lorena-guartazaca-b55a541b4/"><i
                                class="fa-brands fa-linkedin-in"></i></a>
                    </nav>
                    <nav class="github">
                        <a target="__blank" href="https://github.com/lorenaggs"><i class="fa-brands fa-github"></i></a>
                    </nav>
                    <nav class="twitter">
                        <a target="__blank" href="https://twitter.com/lorenaggs12?s=11"><i class="fa-brands fa-twitter"></i></a>
                    </nav>
                </nav>
            </span>
        </section>
    </section>
    <nav class="footer__uparrow">
        <a href="#"><img src="assets/images/uparrow.png" alt="image uparrow"></a>
    </nav>
</footer>