<header class="header">
    <div class="header__image">
        <img src="assets/images/logo.png" alt="open-spaces">
    </div>

    <section class="header__menu">
        <div class="header__menu--bars">
            <a target="__blank" href="https://adalab.es/">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>

        <nav class="header__menu--nav">
            <ul class="header__menu--nav--list">
                <li>Productos</li>
                <li>Colecciones</li>
                <li>Tienda</li>
                <li>Inicio</li>
            </ul>
        </nav>
    </section>

    <section class="header__banner">
        <h1 class="header__banner--title">Disfruta creando espacios</h1>
        <button class="button">
            <a target="__blank" href="https://www.getopenspaces.com/shop/">Comprar Ahora</a>
        </button>
    </section>
</header>