<section class="main__organized">
    <h2 class="main__organized--title">Volverse organizado se siente mejor con OPEN SPACES</h2>
    <section class="main__organized--articles">
        <include src="./organizedstructure.html" image="assets/images/icon_1.png" alt="icon_1" title="Lo que necesitas"
            description="Una linea de productos diseñados para todos tus espacios">
        </include>

        <include src="./organizedstructure.html" image="assets/images/icon_2.png" alt="icon_2"
            title="Materia primas sustentables" description="Todos los productos con materias primas sustentables">
        </include>

        <include src="./organizedstructure.html" image="assets/images/icon_3.png" alt="icon_3" title="Guía"
            description="Soporte y asesoramiento para ayudarte con tu objetivo">
        </include>
    </section>
</section>