.header {
  width: 100%;
  height: 389px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;

  &__image {
    width: 100%;
    height: 96px;
    display: flex;
    position: fixed;
    justify-content: center;
    margin-top: 19px;
  }

  &__menu {
    align-items: center;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    margin: 60px 0px 0px 33px;

    &--nav {
      display: none;
    }
  }

  &__banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &--title {
      font-size: 24px;
    }

    .button {
      background: $color-hex;
      color: $color-white;
      width: 176px;
      height: 48px;
      margin: 24px 0px 64px 0px;
    }
    .button a {
      text-decoration: none;
      font-size: 16px;
    }
  }
}

@media all and (min-width: 768px) {
  .header {
    height: 93vh;
    background-position: right;

    &__banner {
      padding-top: 140px;
      align-items: flex-start;
      width: 460px;
      margin: auto;
      justify-content: center;
      &--title {
        font-size: 36px;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .header {
    height: 100vh;

    &__menu {
      margin: 59px 0px 0px 150px;
      &--bars {
        display: none;
      }
      &--nav {
        display: flex;
        &--list {
          display: flex;
          width: 400px;
          justify-content: space-around;
          font-size: 16px;
        }
      }
    }
    &__banner {
      padding: 0px;
      padding-top: 200px;
      margin: 0px 0px 0px 150px;
      justify-content: center;
    }
  }
}
